.blocks {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  &_header {
    font-size: 40px;
    font-weight: lighter;
  }
  &_box {
    width: 1400px;
    height: 500px;
  }
  .underline {
    width: 50px;
  }
}
