.nav {
  position: fixed;
  width: 100%;
  background: rgba(6, 6, 6, 0.6);
  z-index: 10000;

  &_ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-li {
      padding: 0 2rem;
      font-size: 1.5rem;
      text-decoration: none;
      line-height: 5vh;
      margin: 0;
      color: white;
      font-weight: lighter;
      cursor: pointer;
    }
    &-li:hover {
      color: #e45658;
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
    width: 100%;
    background: rgba(6, 6, 6, 0.6);
    z-index: 10000;

    &_ul {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      &-li {
        padding: 0 15px;
        font-size: 18px;
        text-decoration: none;
        line-height: 24px;
        margin: 0;
        color: white;
        font-weight: lighter;
        cursor: pointer;
      }
      &-li:hover {
        color: #e45658;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    width: 100%;
    background: rgba(6, 6, 6, 0.6);
    z-index: 10000;

    &_ul {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      &-li {
        padding: 0 10px;
        font-size: 12px;
        text-decoration: none;
        line-height: 30px;
        margin: 0;
        color: white;
        font-weight: lighter;
        cursor: pointer;
      }
      &-li:hover {
        color: #e45658;
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .nav {
    position: fixed;
    width: 100%;
    background: rgba(6, 6, 6, 0.6);
    z-index: 10000;

    &_ul {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      &-li {
        padding: 0 4px;
        font-size: 8px;
        text-decoration: none;
        line-height: 20px;
        margin: 0;
        color: white;
        font-weight: lighter;
        cursor: pointer;
      }
      &-li:hover {
        color: #e45658;
      }
    }
  }
}
