.others {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
  &_title {
    font-size: 34px;
    font-weight: lighter;
    padding: 30px 0 0 0;
  }
  .underline {
    display: flex;
    align-self: center;
  }
  &_one {
    margin: 0;
    width: 100%;
    padding: 10px 0;
  }
}
