.skills {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #212026;
  box-shadow: 250px 0 0 #212026, -250px 0 0 #212026;
  color: #bdbcc2;
  margin: 0;
  padding: 0 150px;
  &_left {
    display: flex;
    flex-flow: column wrap;
    padding: 60px 0 0 0;
    width: 100%;
    &-header {
      margin: 0;
      font-size: 42px;
    }
    .underline {
      align-self: center;
      border-bottom: 2px solid rgba(172, 56, 56, 1);
      padding-bottom: 10px;
      margin: 5px 0;
      width: 132px;
    }
  }
  &_right {
    align-items: center;
    padding: 30px 0;
    img {
      padding: 16px 30px;
      width: 150px;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .skills {
    display: flex;
    background-color: #212026;
    box-shadow: 250px 0 0 #212026, -250px 0 0 #212026;
    color: #bdbcc2;
    margin: 0;
    padding: 0;
    &_left {
      padding: 45px 0 0 0;
      margin: 0 0 0 10px;
      &-header {
        font-size: 34px;
      }
      .underline {
        border-bottom: 2px solid rgba(172, 56, 56, 1);
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100px;
      }
    }
    &_right {
      padding: 1rem 0;
      img {
        padding: 16px 22px;
        width: 124px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .skills {
    display: flex;
    background-color: #212026;
    box-shadow: 250px 0 0 #212026, -250px 0 0 #212026;
    color: #bdbcc2;
    margin: 0;
    &_left {
      padding: 45px 0 0 0;
      margin: 0 0 0 10px;
      &-header {
        font-size: 30px;
      }
      &-desc {
        padding-top: 12px;
      }
      .underline {
        border-bottom: 2px solid rgba(172, 56, 56, 1);
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 80px;
      }
    }
    &_right {
      padding: 1rem 0;
      img {
        padding: 16px 22px;
        width: 124px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .skills {
    flex-flow: column wrap;
    align-items: center;
    &_left {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 0 0 0;
      margin: 0;

      &-header {
        align-self: center;
        margin: 0;
        font-size: 32px;
      }
      &-desc {
        padding: 12px 10px;
        font-size: 14px;
      }
      .underline {
        width: 100px;
      }
    }
    &_right {
      padding: 0 0 12px 0;
      img {
        padding: 16px 15px;
        width: 100px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .skills {
    flex-flow: column wrap;
    align-items: center;
    &_left {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 54px 0;
      width: 500px;
      margin: 0;
      &-header {
        font-size: 32px;
      }
      &-desc {
        padding-top: 12px;
      }
      .underline {
        width: 132px;
      }
    }
    &_right {
      padding: 0 0 50px 0;
      img {
        padding: 16px 15px;
        width: 100px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .skills {
    flex-flow: column wrap;
    align-items: center;
    &_left {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 0 0 0;
      width: 100%;
      &-header {
        font-size: 26px;
      }
      &-desc {
        padding: 12px 10px;
        font-size: 10px;
      }
      .underline {
        width: 70px;
      }
    }
    &_right {
      padding: 0 0 10px 0;
      img {
        padding: 16px 5px;
        width: 60px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .skills {
    flex-flow: column wrap;
    align-items: center;
    &_left {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 16px 0 0 0;
      width: 100%;
      &-header {
        font-size: 22px;
      }
      &-desc {
        padding: 12px 10px;
        font-size: 10px;
      }
      .underline {
        width: 70px;
      }
    }
    &_right {
      padding: 0 0 10px 0;
      img {
        padding: 16px 5px;
        width: 60px;
      }
    }
  }
}
